### Take-home Assessment for Gemini     
Andrew Caide      
28-Jan-2025

----

## Task:

**Part 1.** Coding        
Write a script (python/similar) to export data from https://www.gemini.com/ for the trading pair BTC-USD.       
Use 1 minute interval candlestick data and store it in the assumed data lake.      
Refer Gemini API clients for this task.      
* https://docs.gemini.com/rest-api/#introduction      
* https://docs.gemini.com/rest-api/#candles       


**Requirements**     
Required columns in the output are:      
● Trading Pair, Open Price, Close Price,High Price, Low Price, BTC Volume, USD Volume, Number of Trades, Candle Open Time, Candle Close Time
    
Expected output:      
● Python/similar code which can be executed to collect data in required format from Gemini exchange and store into the Data Lake (assume a file storage system).

----

**Notes and Assumptions:**   

1. The format is not specified, but let's assume this code may be used in production and the data will grow very, very large as we are a popular trading platform with many users. For this reason, we shall **save files as parquet**.       
2. Additionally, we will store our data in a data lake/warehouse (tbd), so let's choose to **store files in s3**.
3. It was communicated that "**Number of Trades** can be weekly/monthly", however the date pulled from candle only spans **2 days** (see below). To make the dataset interesting, I'll compute this at the *hourly* level.
4. The **candle open-close** time will be recorded at the *hourly level* as well.
5. I'm unable to find a resource on the APIs which *tracks price changes* at the granularity we're interested in. I'll (wrongly) assume the price is fixed, for this assignment.


--------

In [50]:
# load important libraries
import requests
import json
import pandas as pd
import boto3

# essential variables
ALL_PAIRS = [
    'btcusd', 'ethbtc', 'ethusd', 'bchusd', 'bchbtc', 'bcheth', 'ltcusd', 'ltcbtc', 'ltceth', 'ltcbch', 
    'batusd', 'daiusd', 'linkusd', 'oxtusd', 'linkbtc', 'linketh', 'ampusd', 'compusd', 'paxgusd', 'mkrusd', 
    'zrxusd', 'manausd', 'storjusd', 'crvusd', 'uniusd', 'renusd', 'umausd', 'yfiusd', 'aaveusd', 'filusd', 
    'btceur', 'btcgbp', 'etheur', 'ethgbp', 'btcsgd', 'ethsgd', 'sklusd', 'grtusd', 'lrcusd', 'sandusd', 
    'cubeusd', 'lptusd', 'maticusd', 'injusd', 'sushiusd', 'dogeusd', 'ftmusd', 'ankrusd', 'btcgusd', 'ethgusd', 
    'ctxusd', 'xtzusd', 'axsusd', 'dogebtc', 'dogeeth', 'rareusd', 'qntusd', 'maskusd', 'fetusd', 'api3usd', 
    'usdcusd', 'shibusd', 'rndrusd', 'galausd', 'ensusd', 'elonusd', 'ldousd', 'solusd', 'apeusd', 'gusdsgd', 
    'chzusd', 'jamusd', 'gmtusd', 'aliusd', 'gusdgbp', 'dotusd', 'ernusd', 'galusd', 'samousd', 'imxusd', 'iotxusd', 
    'avaxusd', 'atomusd', 'usdtusd', 'btcusdt', 'ethusdt', 'pepeusd', 'xrpusd', 'hntusd', 'wifusd', 'bonkusd', 
    'popcatusd', 'opusd', 'moodengusd', 'pnutusd', 'goatusd', 'mewusd', 'bomeusd', 'flokiusd', 'pythusd', 'chillguyusd']
ALL_TIMEFRAMES = ['1m','5m','15m','30m','1hr','6hr','1day']

In [184]:
# collect data

# candle 
symbol = ALL_PAIRS[0]
time_frame = ALL_TIMEFRAMES[0]
data_request = requests.get(f"https://api.gemini.com/v2/candles/{symbol}/{time_frame}")

# price of currency (btc)
price_request = requests.get("https://api.gemini.com/v1/pricefeed")
prices = price_request.json()
btc_price = float([pairs for pairs in prices if pairs['pair'].lower()==symbol][0]['price'])
print(f'Estimating the price of BTC at ${btc_price} USD.')

Estimating the price of BTC at $103620.95 USD.

In [187]:
# organize the dataset

candle_data = pd.DataFrame(data_request.json())
candle_data.columns = ['time_ms', 'open', 'high', 'low', 'close','volume']
candle_data['date-time'] = pd.to_datetime(candle_data.time_ms, unit='ms')
candle_data['time'] = candle_data['date-time'].dt.time
candle_data['trading_pair'] = symbol
candle_data['btc_volume'] = candle_data['volume']
candle_data['usd_volume'] = btc_price * candle_data['volume']
candle_data.sort_values('time_ms',ascending=True,inplace=True)
candle_data.head(3)

,time_ms,open,high,low,close,volume,date-time,time,trading_pair,btc_volume,usd_volume
1439,1738110120000,101515.32,101537.10,101476.29,101510.38,0.317862,2025-01-29 00:22:00,00:22:00,btcusd,0.317862,32937.120961
1438,1738110180000,101510.38,101515.63,101468.25,101515.63,0.169394,2025-01-29 00:23:00,00:23:00,btcusd,0.169394,17552.768241
1437,1738110240000,101515.63,101515.63,101429.05,101443.55,1.179315,2025-01-29 00:24:00,00:24:00,btcusd,1.179315,122201.770699

In [192]:
candle_summary = candle_data\
    .groupby([candle_data['date-time'].dt.day,candle_data['date-time'].dt.hour])\
    .agg(
        high_price=('high','max'),
        low_price=('low','min'),
        btc_volume=('btc_volume','sum'),
        usd_volume=('usd_volume','sum'),
        candel_open_time=('time_ms','min'),
        candel_close_time=('time_ms','max')
    )
candle_summary.index.names = ['day','hour']
candle_summary.reset_index(inplace=True)
candle_summary.head(5)

,day,hour,high_price,low_price,btc_volume,usd_volume,candel_open_time,candel_close_time
0,29,0,101772.51,101337.06,15.475011,1.603535e+06,1738110120000,1738112340000
1,29,1,101946.62,101425.35,21.127514,2.189253e+06,1738112400000,1738115940000
2,29,2,102286.16,101637.63,23.696696,2.455474e+06,1738116000000,1738119540000
3,29,3,102145.00,101731.23,18.780373,1.946040e+06,1738119600000,1738123140000
4,29,4,102157.52,101944.40,12.835749,1.330053e+06,1738123200000,1738126740000

---

# Observations

Due to API limitiations of the /candle, using the candle data limits us only what is readily available. This means we're unable to gather:

1. Data beyond the default time range (ie a week or a month).
2. The **number of trades** made in the candle period. This is **required**, so this method is a no-go.
3. Lastly, we're estimating the **price of `bct`** - surely we can do better! 

------

## New Strategy

We'll use data from the `trades` API. This API allows us to query up to a week of data, query **all** trades made, and it provides us with the **exact price** of `btc`! This solves all of our problems. Additionally, we can use the candle summary to **QA** our work.

For this project, let's consider the time range in the candles daya, and five days prior.

In [ ]:
import datetime

# URL
base_url = "https://api.gemini.com/v1"

In [160]:
# Initializing book-ends of the requests.

# Start time = first_trade - 5 days (in milliseconds)
first_trade_ms = candle_data['Time_ms'].min()

# Remove 5 days in ms from first_trade_ms
days = 5 
backtrack_ms = days * 24 * 60 * 60 * 1000
first_trade_minus_5_days_ms = first_trade_ms - backtrack_ms

# Double-check our work
print(f'Dataset start-time: {datetime.datetime.utcfromtimestamp(first_trade_ms / 1000.0)}\n'\
     f'Dataset start-time plus 5 days: {datetime.datetime.utcfromtimestamp(first_trade_minus_5_days_ms / 1000.0)}')

# Looks great!

Dataset start-time: 2025-01-28 19:03:00
Dataset start-time plus 5 days: 2025-01-23 19:03:00

/var/folders/md/_53rg2bs3nn1hsvwp_27w5200000gn/T/ipykernel_52038/3128398168.py:13: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  print(f'Dataset start-time: {datetime.datetime.utcfromtimestamp(first_trade_ms / 1000.0)}\n'\
/var/folders/md/_53rg2bs3nn1hsvwp_27w5200000gn/T/ipykernel_52038/3128398168.py:14: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  f'Dataset start-time plus 5 days: {datetime.datetime.utcfromtimestamp(first_trade_minus_5_days_ms / 1000.0)}')

In [ ]:
# Book-ends for our loop.
current_trade = first_trade_minus_5_days_ms
last_trade = candle_data['Time_ms'].max()

# Keep track of time in EST
timestamp_utc = datetime.datetime.utcfromtimestamp(last_trade / 1000.0)
timestamp_ending = timestamp_utc.replace(tzinfo=datetime.timezone(est_offset))

# Collecting results
all_trades_made = []
n_trade_requests = 0

# Loop until we collect all of the data, ending at the last date in our candle DF.
while last_trade > current_trade:
    params = {
        'timestamp': current_trade,
        'limit_trades': '100'
    }
    response = requests.get(base_url + "/trades/btcusd", params=params)
    btcusd_trades = response.json()
    all_trades_made += btcusd_trades

    # Update loop condition
    current_trade = max([x['timestampms'] for x in btcusd_trades])

    # Good ol' command-line logging. 
    n_trade_requests +=1
    if n_trade_requests%200==0:
        timestamp_utc = datetime.datetime.utcfromtimestamp(max([x['timestampms'] for x in btcusd_trades]) / 1000.0)
        timestamp_est = timestamp_utc.replace(tzinfo=datetime.timezone(est_offset))
        log =\
        f"""Retrieved data for {n_trade_requests} requests, {len(all_trades_made)} records collected.
        Current date-time: {timestamp_est}.
        Terminating date-time: {timestamp_ending}.
        """
        #print(log)

In [168]:
print(f'Total number of records collected: {len(all_trades_made)}')

Total number of records collected: 206000

In [169]:
# Tidy-up our results
all_trades = pd.DataFrame(all_trades_made)
all_trades.sort_values('timestamp',ascending=True,inplace=True)
all_trades['real_time'] = pd.to_datetime(all_trades.timestampms, unit='ms')
all_trades['amount'] = all_trades['amount'].astype(float)
all_trades['price']  = all_trades['price'].astype(float)
all_trades['volume'] = all_trades['amount']*all_trades['price']

all_trades.head(2)

,timestamp,timestampms,tid,price,amount,exchange,type,real_time,volume
99,1737658987,1737658987018,2840140890076470,105535.01,0.0116,gemini,buy,2025-01-23 19:03:07.018,1224.206116
98,1737658987,1737658987018,2840140890076472,105535.01,0.0044,gemini,buy,2025-01-23 19:03:07.018,464.354044

In [180]:
## Summarize

trades_summary = all_trades\
    .groupby([all_trades['real_time'].dt.day,all_trades['real_time'].dt.hour])\
    .agg(
        n_trades=('tid', 'count'),
        high_price=('price','max'),
        low_price=('price','min'),
        btc_volume=('amount','sum'),
        usd_volume=('volume','sum'),
        candel_open_time=('timestampms','min'),
        candel_close_time=('timestampms','max')
    )
trades_summary.index.names = ['day','hour']
trades_summary.reset_index(inplace=True)
trades_summary.head(5)

,day,hour,n_trades,high_price,low_price,btc_volume,usd_volume,candel_open_time,candel_close_time
0,23,19,3959,105552.00,103411.07,123.884250,1.294303e+07,1737658987018,1737662399410
1,23,20,13466,106539.96,102632.48,646.268676,6.756850e+07,1737662402565,1737665999243
2,23,21,4628,103489.69,102275.32,128.661783,1.324700e+07,1737666000019,1737669599769
3,23,22,1680,104717.95,103045.04,58.791892,6.102620e+06,1737669601348,1737673196409
4,23,23,1325,104561.43,103818.91,53.448882,5.570917e+06,1737673200046,1737676790435

----

### QA: Let's compare to our original results

In [215]:
# Let's QA against the following parameters.
qa_day = 29
qa_hours = [1,2]
qa_columns = ['day','hour','high_price','low_price','btc_volume','usd_volume']


candle_summary.loc[((candle_summary.day == qa_day)&(candle_summary.hour.isin(qa_hours))),][qa_columns]

   day  hour  high_price  low_price  btc_volume    usd_volume
1   29     1   101946.62  101425.35   21.127514  2.189253e+06
2   29     2   102286.16  101637.63   23.696696  2.455474e+06

In [213]:
trades_summary.loc[((trades_summary.day == qa_day)&(trades_summary.hour.isin(qa_hours))),][qa_columns]

     day  hour  high_price  low_price  btc_volume    usd_volume
126   29     1   101946.62  101425.35   21.311680  2.167173e+06
127   29     2   102286.16  101637.63   23.795154  2.427243e+06

## QA Summary

The high and low prices are the same! This is great. It apprears the volumes are off a little, by less than 1% however (computation below, assuming the candle volume is "correct"). 

Moving forward, we'll use the trade data as our de-facto submission as this contains all the relevent information!

In [217]:
abs(21.127514-21.311680)/21.311680*100

0.8641552425711987

## Datalake

We'll store our dataset in S3. 

Storage architecture:      
* [ticker_name]/
* [year]/
* [month]/
* [file_name].filetype

In [218]:
# Save our datasets, just in case. 
trades_summary.to_csv('trade_summary.csv',index=False)
candle_summary.to_csv('candle_summary.csv',index=False)